// app global css in SCSS form
@font-face {
  font-family: 'GET_SCHWIFTY';
  src: url('../assets/fonts/GET_SCHWIFTY.TTF') format('truetype'),
       url('../assets/fonts/GET_SCHWIFTY.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}